
h1 {
    float: left;
}
nav {
    display: flex;
    justify-content: flex-end;
}
.nav-links {
    border: 1px solid;
    display: flex;
    justify-content: flex-end;
}
.nav-links li {
    padding: 1em;
    list-style-type: none;
}
.header-img {
    display: flex;
    justify-content: center;
}
img {
    flex-grow: 1;
    border: 1px solid red;
}
.main {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.sub-section {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    width: 30%;
    float: right;
}

footer {
    border: 2px solid blue;
}