h1 {
    float: left;
}
nav {
    display: flex;
    justify-content: flex-end;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.nav-links li {
    padding: 1em;
    list-style-type: none;
}
.header-img {
    display: flex;
    justify-content: center;
}
img {
    flex-grow: 1;
    flex-shrink: 1;
}
.main {
    display: flex;
    flex-direction: column;
    width: 55%;
    float: left;
}
.sub-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    float: right;
}

footer {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-top: 100px;
}
.fa-brands {
    padding: 0.5em;
}

@media screen and (max-width:450px) {
    .alert-info {
        border: 1px solid gray;
        background-color: #c4f5f5;
        display: flex;
        justify-content: center;
        padding: 1em;
    }
    h1 {
        text-align: center;
        float: none;
        margin: 0;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0;
    }
    .nav-links li {
        width: calc(100% - 30px);
        background-color: #c5c5c5;
        margin: 5px 0;
        display: flex;
        justify-content: center;
    }
    .header-img {
        width: 100%;
    }
    img {
        width: 390px;
    }
    .main {
        float: none;
        width: 100%;
    }
    .sub-section {
        float: none;
        width: 100%;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
    }
}