h1 {
    color: white;
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
    background-color: red;
    text-align: center;
}
#mapBox {
    width: 100%;
    height: 500px;
    border: 5px solid red;
}
.searchClass {
    display: flex;
    justify-content: center;
    align-items: center;
}
#currentLocation {
    text-align: center;
    background-color: blue;
    color: white;
}
input {
    margin: 0 10px;
    width: 50%;
}
.row {
    display: flex;
    justify-content: space-evenly;
}
